doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Order/Payment Success
        .order-success-wrapper
            .content
                .display-1.text-white.mb-2
                    i.ti.ti-basket-dollar
                h5.text-white Payment successful
                p.text-white.opacity-75 We will notify you of all the details via email. Thank you!
                a.btn.btn-primary.mt-3(href="home.html")
                    i.ti.ti-arrow-left.pe-2
                    | Shopping Again

        include inc/footer-no-internet.pug