 <!-- app-header -->
 <header class="app-header">

    <!-- Start::main-header-container -->
    <div class="main-header-container container-fluid">

        <!-- Start::header-content-left -->
        <div class="header-content-left">

            <!-- Start::header-element -->
            <div class="header-element">
                <div class="horizontal-logo">
                    <a href="index.html" class="header-logo">
                        <img src="../assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
                        <img src="../assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
                        <img src="../assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
                        <img src="../assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
                        <img src="../assets/images/brand-logos/desktop-white.png" alt="logo" class="desktop-white">
                        <img src="../assets/images/brand-logos/toggle-white.png" alt="logo" class="toggle-white">
                    </a>
                </div>
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element">
                <!-- Start::header-link -->
                <a aria-label="Hide Sidebar" class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle" data-bs-toggle="sidebar" href="javascript:void(0);">
                    <span>
                        
                    </span>
                </a>
                <!-- End::header-link -->
                <!-- Start::header-search -->
                <div class="mt-0">
                    <form class="form-inline d-none d-lg-block">
                        <div class="search-element">
                            <input type="search" class="form-control header-search" placeholder="Search…" aria-label="Search" tabindex="1">
                            <button class="btn" >
                                <i class="fe fe-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- End::header-search -->
            </div>
            <!-- End::header-element -->

        </div>
        <!-- End::header-content-left -->

        <!-- Start::header-content-right -->
        <div class="header-content-right">

            <!-- Start::header-element -->
                <div class="header-element header-search d-lg-none">
                    <!-- Start::header-link -->
                    <a href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" class="header-link-icon" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
                    </a>
            
                    <ul class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
                        <li>
                            <span class="dropdown-item d-flex align-items-center" >
                                <span class="input-group">
                                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search input" aria-describedby="button-addon2">
                                    <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                                </span>
                            </span>
                        </li>
                    </ul>
            
                    <!-- End::header-link -->
                </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element header-theme-mode">
                <!-- Start::header-link|layout-setting -->
                <a href="javascript:void(0);" class="header-link layout-setting">
                    <span class="light-layout lh-1">
                        <!-- Start::header-link-icon -->
                    <i class="fe fe-moon header-link-icon"></i>
                        <!-- End::header-link-icon -->
                    </span>
                    <span class="dark-layout lh-1">
                        <!-- Start::header-link-icon -->
                    <i class="fe fe-sun header-link-icon"></i>
                        <!-- End::header-link-icon -->
                    </span>
                </a>
                <!-- End::header-link|layout-setting -->
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element country-selector">
                <!-- Start::header-link|dropdown-toggle -->
                <a href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown">
                    <img src="../assets/images/flags/6.jpg" alt="img" class="rounded-circle">
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <ul class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                            <span class="avatar avatar-xs lh-1 me-2">
                                <img src="../assets/images/flags/5.jpg" alt="img">
                            </span>
                            English
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                            <span class="avatar avatar-xs lh-1 me-2">
                                <img src="../assets/images/flags/4.jpg" alt="img" >
                            </span>
                            Spanish
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                            <span class="avatar avatar-xs lh-1 me-2">
                                <img src="../assets/images/flags/6.jpg" alt="img" >
                            </span>
                            French
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                            <span class="avatar avatar-xs lh-1 me-2">
                                <img src="../assets/images/flags/1.jpg" alt="img" >
                            </span>
                            German
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                            <span class="avatar avatar-xs lh-1 me-2">
                                <img src="../assets/images/flags/2.jpg" alt="img" >
                            </span>
                            Italian
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                            <span class="avatar avatar-xs lh-1 me-2">
                                <img src="../assets/images/flags/3.jpg" alt="img" >
                            </span>
                            Russian
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element cart-dropdown">
                <!-- Start::header-link|dropdown-toggle -->
                <a href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown">
                    <i class="fe fe-mail header-link-icon"></i>
                    <span class="badge bg-success rounded-pill header-icon-badge" id="cart-icon-badge">5</span>
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <!-- Start::main-header-dropdown -->
                <div class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
                    <div class="p-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="mb-0 fs-17 fw-medium">You have messages</p>
                            <span class="badge bg-success-transparent" id="cart-data">5 Items</span>
                        </div>
                    </div>
                    <div><hr class="dropdown-divider"></div>
                    <ul class="list-unstyled mb-0" id="header-cart-items-scroll">
                        <li class="dropdown-item">
                            <div class="d-flex align-items-start cart-dropdown-item">
                                <img src="../assets/images/users/1.jpg" alt="img" class="avatar avatar-md avatar-rounded br-5 me-3">
                                <div class="flex-grow-1">
                                    <div class="d-flex align-items-start justify-content-between mb-0">
                                        <div class="mb-0 fs-13 text-dark fw-medium">
                                            <a href="chat.html">Jack Wright</a>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0);" class="header-cart-remove float-end dropdown-item-close"><i class="bi bi-x-octagon"></i></a>
                                        </div>
                                    </div>
                                    <div class="min-w-fit-content d-flex align-items-start justify-content-between">
                                        <ul class="header-product-item d-flex">
                                            <li>All the best your template awesome</li>
                                            <li class="text-muted">3 hours ago</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item">
                            <div class="d-flex align-items-start cart-dropdown-item">
                                <img src="../assets/images/users/3.jpg" alt="img" class="avatar avatar-md avatar-rounded br-5 me-3">
                                <div class="flex-grow-1">
                                    <div class="d-flex align-items-start justify-content-between mb-0">
                                        <div class="mb-0 fs-13 text-dark fw-medium">
                                            <a href="chat.html">Lisa Rutherford</a>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0);" class="header-cart-remove float-end dropdown-item-close"><i class="bi bi-x-octagon"></i></a>
                                        </div>
                                    </div>
                                    <div class="min-w-fit-content d-flex align-items-start justify-content-between">
                                        <ul class="header-product-item d-flex">
                                            <li>Hey! there I'm available</li>
                                            <li class="text-muted">5 hour ago</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item">
                            <div class="d-flex align-items-start cart-dropdown-item">
                                <img src="../assets/images/users/5.jpg" alt="img" class="avatar avatar-md avatar-rounded br-5 me-3">
                                <div class="flex-grow-1">
                                    <div class="d-flex align-items-start justify-content-between mb-0">
                                        <div class="mb-0 fs-13 text-dark fw-medium">
                                            <a href="chat.html">Blake Walker</a>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0);" class="header-cart-remove float-end dropdown-item-close"><i class="bi bi-x-octagon"></i></a>
                                        </div>
                                    </div>
                                    <div class="min-w-fit-content d-flex align-items-start justify-content-between">
                                        <ul class="header-product-item d-flex">
                                            <li>Just created a new blog post</li>
                                            <li class="text-muted">45 mintues ago</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item">
                            <div class="d-flex align-items-start cart-dropdown-item">
                                <img src="../assets/images/users/4.jpg" alt="img" class="avatar avatar-md avatar-rounded br-5 me-3">
                                <div class="flex-grow-1">
                                    <div class="d-flex align-items-start justify-content-between mb-0">
                                        <div class="mb-0 fs-13 text-dark fw-medium">
                                            <a href="chat.html">Fiona Morrison</a>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0);" class="header-cart-remove float-end dropdown-item-close"><i class="bi bi-x-octagon"></i></a>
                                        </div>
                                    </div>
                                    <div class="min-w-fit-content d-flex align-items-start justify-content-between">
                                        <ul class="header-product-item d-flex">
                                            <li>Added new comment on your photo</li>
                                            <li class="text-muted">2 days ago</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-item">
                            <div class="d-flex align-items-start cart-dropdown-item">
                                <img src="../assets/images/users/6.jpg" alt="img" class="avatar avatar-md avatar-rounded br-5 me-3">
                                <div class="flex-grow-1">
                                    <div class="d-flex align-items-start justify-content-between mb-0">
                                        <div class="mb-0 fs-13 text-dark fw-medium">
                                            <a href="chat.html">Stewart Bond</a>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0);" class="header-cart-remove float-end dropdown-item-close"><i class="bi bi-x-octagon"></i></a>
                                        </div>
                                    </div>
                                    <div class="min-w-fit-content d-flex align-items-start justify-content-between">
                                        <ul class="header-product-item d-flex">
                                            <li>Your payment invoice is generated</li>
                                            <li class="text-muted">3 days ago</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="p-3 empty-header-item border-top">
                        <div class="d-grid">
                            <a href="chat.html" class="btn btn-primary">See All Messages</a>
                        </div>
                    </div>
                    <div class="p-5 empty-item d-none">
                        <div class="text-center">
                            <span class="avatar avatar-xl avatar-rounded bg-warning-transparent">
                                <i class="ri-chat-2-line fs-2"></i>
                            </span>
                            <h6 class="fw-bold mb-1 mt-3">Your Inbox is Empty</h6>
                            <span class="mb-3 fw-normal fs-13 d-block">See more messages in chat page :)</span>
                            <a href="Chat.html" class="btn btn-primary btn-wave btn-sm m-1" data-abc="true">continue Viewing <i class="bi bi-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End::main-header-dropdown -->
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element header-shortcuts-dropdown d-none d-lg-flex">
                <!-- Start::header-link|dropdown-toggle -->
                <a href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="notificationDropdown" aria-expanded="false">
                    <i class="fe fe-grid header-link-icon"></i>
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <!-- Start::main-header-dropdown -->
                <div class="main-header-dropdown header-shortcuts-dropdown dropdown-menu pb-0 dropdown-menu-end" aria-labelledby="notificationDropdown">
                    <div class="p-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="mb-0 fs-17 fw-medium">Related Apps</p>
                        </div>
                    </div>
                    <div class="dropdown-divider mb-0"></div>
                    <div class="main-header-shortcuts p-3" id="header-shortcut-scroll">
                       <div class="row g-2">
                           <div class="col-4">
                                <a href="full-calendar.html">
                                    <div class="text-center p-3 related-app border">
                                        <span class="avatar fs-23 bg-success-transparent p-2 mb-2">
                                            <i class='bx bx-calendar text-success'></i>
                                        </span>
                                        <span class="d-block fs-13 fw-normal">Calendar</span>
                                    </div>
                                </a>
                           </div>
                           <div class="col-4">
                                <a href="email-inbox.html">
                                    <div class="text-center p-3 related-app border">
                                        <span class="avatar  fs-23 bg-info-transparent p-2 mb-2">
                                            <i class='bx bx-envelope  text-info'></i>
                                        </span>
                                        <span class="d-block fs-13 fw-normal">Mail</span>
                                    </div>
                                </a>
                           </div>
                           <div class="col-4">
                                <a href="profile-1.html">
                                    <div class="text-center p-3 related-app border">
                                        <span class="avatar bg-warning-transparent fs-23 bg p-2 mb-2">
                                            <i class='bx bx-user  text-warning'></i>
                                        </span>
                                        <span class="d-block fs-13 fw-normal">Profile</span>
                                    </div>
                                </a>
                           </div>
                           <div class="col-4">
                                <a href="chat.html">
                                    <div class="text-center p-3 related-app border">
                                        <span class="avatar    bg-pink-transparent fs-23 bg p-2 mb-2">
                                            <i class='bx bx-chat text-pink'></i>
                                        </span>
                                        <span class="d-block fs-13 fw-normal">Chat</span>
                                    </div>
                                </a>
                           </div>
                           <div class="col-4">
                                <a href="contact-list.html">
                                    <div class="text-center p-3 related-app border">
                                        <span class="avatar    bg-secondary-transparent fs-23 bg p-2 mb-2">
                                            <i class='bx bx-phone text-secondary'></i>
                                        </span>
                                        <span class="d-block fs-13 fw-normal">Contacts</span>
                                    </div>
                                </a>
                           </div>
                           <div class="col-4">
                                <a href="settings.html">
                                    <div class="text-center p-3 related-app border">
                                        <span class="avatar    bg-teal-transparent fs-23 bg p-2 mb-2">
                                            <i class='bx bx-cog text-teal'></i>
                                        </span>
                                        <span class="d-block fs-13 fw-normal">Settings</span>
                                    </div>
                                </a>
                           </div>
                       </div>
                    </div>
                </div>
                <!-- End::main-header-dropdown -->
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element header-fullscreen">
                <!-- Start::header-link -->
                <a onclick="openFullscreen();" href="javascript:void(0);" class="header-link">
                    <i class="fe fe-maximize full-screen-open header-link-icon"></i>
                    <i class="fe fe-minimize full-screen-close header-link-icon d-none"></i>
                </a>
                <!-- End::header-link -->
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element notifications-dropdown">
                <!-- Start::header-link|notification-rights -->
                <a href="javascript:void(0);" class="header-link" data-bs-toggle="offcanvas" data-bs-target="#notification-sidebar-canvas" id="messageDropdown">
                    <i class="fe fe-bell header-link-icon"></i>
                    <span class="bg-dot"></span>
                </a>
                <!-- End::header-link|notification-rights -->
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element main-header-profile">
                <!-- Start::header-link|dropdown-toggle -->
                <a href="javascript:void(0);" class="header-link dropdown-toggle mx-0 w-100" id="mainHeaderProfile" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <div>
                        <img src="../assets/images/users/16.jpg" alt="img" class="rounded-3 avatar avatar-md">
                    </div>
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <ul class="main-header-dropdown dropdown-menu pt-0 header-profile-dropdown dropdown-menu-end" aria-labelledby="mainHeaderProfile">
                    <Li>
                        <div class="p-3 text-center border-bottom">
                            <a href="profile-1.html" class="text-center fw-semibold">John Thomson</a>
                            <p class="text-center user-semi-title fs-13 mb-0">App Developer</p>
                        </div>
                    </Li>
                    <li><a class="dropdown-item d-flex align-items-center" href="profile-1.html"><i class="fe fe-user me-2"></i>Profile</a></li>
                    <li><a class="dropdown-item d-flex align-items-center" href="email-inbox.html"><i class="fe fe-mail me-2"></i>Inbox <span class="badge bg-success-transparent ms-auto">25</span></a></li>
                    <li><a class="dropdown-item d-flex align-items-center" href="editprofile.html"><i class="fe fe-settings me-2"></i>Settings</a></li>
                    <li><a class="dropdown-item d-flex align-items-center" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#changepasswordnmodal"><i class="fe fe-edit-3 me-2"></i>Change Password</a></li>
                    <li><a class="dropdown-item d-flex align-items-center" href="chat.html"><i class="fe fe-headphones me-2"></i>Support</a></li>
                    <li><a class="dropdown-item d-flex align-items-center" href="login-1.html"><i class="fe fe-power me-2"></i>Log Out</a></li>
                </ul>
            </div>  
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element">
                <!-- Start::header-link|switcher-icon -->
                <a href="javascript:void(0);" class="header-link switcher-icon" data-bs-toggle="offcanvas" data-bs-target="#switcher-canvas">
                    <i class="fe fe-settings header-link-icon"></i>
                </a>
                <!-- End::header-link|switcher-icon -->
            </div>
            <!-- End::header-element -->

        </div>
        <!-- End::header-content-right -->

    </div>
    <!-- End::main-header-container -->

</header>
<!-- /app-header -->