<!-- Start Right-Sidebar -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="notification-sidebar-canvas" aria-labelledby="offcanvasRightLabel1">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title text-default fs-17 fw-medium" id="offcanvasRightLabel1">Notifications <span class="badge bg-danger-transparent" id="notifiation-data">11 Unread</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0 sidebar-right">
        <div id="header-notification-scroll">
            <div class="list-group-item  align-items-center border-start-0 border-end-0 border-top-0">
                <div class="d-flex">
                    <span class="avatar avatar-lg me-3 avatar-rounded">
                         <img src="../assets/images/users/4.jpg" alt="img"> 
                    </span>
                    <div class="w-65">
                        <a  href="javascript:void(0);" class="fw-medium fs-16">Liam <span class="text-muted fw-normal">Sent Message</span></a>
                        <span class="clearfix"></span>
                        <span class="text-muted fs-13 ms-auto d-inline-block"><i class="mdi mdi-clock text-muted me-1"></i>30 mins ago</span>
                    </div>
                    <div class="ms-auto">
                        <div class="text-end">
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fe fe-more-horizontal p-1 text-muted"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i>View</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-plus-circle me-2"></i>Add</a></li>
                                <!-- <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i>Remove</a></li> -->
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-settings me-2"></i>More</a></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0);" class="header-cart-remove dropdown-item-close1"><i class="bi bi-trash3"></i></a>
                    </div>
                </div>
            </div>
            <div class="list-group-item  align-items-center border-start-0 border-end-0 border-top-0  border-bottom">
                <div class="d-flex">
                    <span class="avatar avatar-lg me-3 avatar-rounded">
                        <img src="../assets/images/users/10.jpg" alt="img"> 
                   </span>
                    <div class="w-65">
                        <a  href="javascript:void(0);" class="fw-medium fs-16">Paul<span class="text-muted fw-normal"> commented on you post</span></a>
                        <span class="clearfix"></span>
                        <span class="text-muted fs-13 ms-auto d-inline-block"><i class="mdi mdi-clock text-muted me-1"></i>1 hour ago</span>
                    </div>
                    <div class="ms-auto">
                        <div class="text-end">
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fe fe-more-horizontal p-1 text-muted"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i>View</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-plus-circle me-2"></i>Add</a></li>
                                <!-- <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i>Remove</a></li> -->
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-settings me-2"></i>More</a></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0);" class="header-cart-remove dropdown-item-close1"><i class="bi bi-trash3"></i></a>
                    </div>
                </div>
            </div>
            <div class="list-group-item  align-items-center border-start-0 border-end-0 border-top-0  border-bottom">
                <div class="d-flex">
                    <span class="avatar avatar-lg avatar-rounded me-3 bg-pink-transparent"><span class="fe fe-shopping-cart"></span></span>
                    <div class="w-65">
                        <a  href="javascript:void(0);" class="fw-medium fs-16">James<span class="text-muted fw-normal"> Order Placed</span></a>
                        <span class="clearfix"></span>
                        <span class="text-muted fs-13 ms-auto d-inline-block"><i class="mdi mdi-clock text-muted me-1"></i>1 day ago</span>
                    </div>
                    <div class="ms-auto">
                        <div class="text-end">
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fe fe-more-horizontal p-1 text-muted"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i>View</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-plus-circle me-2"></i>Add</a></li>
                                <!-- <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i>Remove</a></li> -->
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-settings me-2"></i>More</a></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0);" class="header-cart-remove dropdown-item-close1"><i class="bi bi-trash3"></i></a>
                    </div>
                </div>
            </div>
            <div class="list-group-item  align-items-center border-start-0 border-end-0 border-top-0  border-bottom">
                <div class="d-flex">
                    <span class="avatar avatar-lg me-3 online avatar-rounded">
                        <img src="../assets/images/users/9.jpg" alt="img"> 
                   </span>
                    <div class="w-65">
                        <a  href="javascript:void(0);" class="fw-medium fs-16">Diane<span class="text-muted fw-normal"> New Message Received</span></a>
                        <span class="clearfix"></span>
                        <span class="text-muted fs-13 ms-auto d-inline-block"><i class="mdi mdi-clock text-muted me-1"></i>1 day ago</span>
                    </div>
                    <div class="ms-auto">
                        <div class="text-end">
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fe fe-more-horizontal p-1 text-muted"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i>View</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-plus-circle me-2"></i>Add</a></li>
                                <!-- <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i>Remove</a></li> -->
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-settings me-2"></i>More</a></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0);" class="header-cart-remove dropdown-item-close1"><i class="bi bi-trash3"></i></a>
                    </div>
                </div>
            </div>
            <div class="list-group-item  align-items-center border-start-0 border-end-0 border-top-0  border-bottom">
                <div class="d-flex">
                    <span class="avatar avatar-lg me-3 offline avatar-rounded">
                        <img src="../assets/images/users/5.jpg" alt="img"> 
                   </span>
                    <div class="w-65">
                        <a  href="javascript:void(0);" class="fw-medium fs-16">Vinny<span class="text-muted fw-normal"> shared your post</span></a>
                        <span class="clearfix"></span>
                        <span class="text-muted fs-13 ms-auto d-inline-block"><i class="mdi mdi-clock text-muted me-1"></i>2 days ago</span>
                    </div>
                    <div class="ms-auto">
                        <div class="text-end">
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fe fe-more-horizontal p-1 text-muted"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i>View</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-plus-circle me-2"></i>Add</a></li>
                                <!-- <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i>Remove</a></li> -->
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-settings me-2"></i>More</a></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0);" class="header-cart-remove dropdown-item-close1"><i class="bi bi-trash3"></i></a>
                    </div>
                </div>
            </div>
            <div class="list-group-item  align-items-center border-start-0 border-end-0 border-top-0  border-bottom">
                <div class="d-flex">
                    <span class="avatar avatar-lg avatar-rounded me-3 bg-primary-transparent">M</span>
                    <div class="w-65">
                        <a  href="javascript:void(0);" class="fw-medium fs-16">Mack<span class="text-muted fw-normal"> your admin lanuched</span></a>
                        <span class="clearfix"></span>
                        <span class="text-muted fs-13 ms-auto d-inline-block"><i class="mdi mdi-clock text-muted me-1"></i>1 week ago</span>
                    </div>
                    <div class="ms-auto">
                        <div class="text-end">
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fe fe-more-horizontal p-1 text-muted"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i>View</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-plus-circle me-2"></i>Add</a></li>
                                <!-- <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i>Remove</a></li> -->
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-settings me-2"></i>More</a></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0);" class="header-cart-remove dropdown-item-close1"><i class="bi bi-trash3"></i></a>
                    </div>
                </div>
            </div>
            <div class="list-group-item  align-items-center border-start-0 border-end-0 border-top-0  border-bottom">
                <div class="d-flex">
                    <span class="avatar avatar-lg me-3 avatar-rounded">
                        <img src="../assets/images/users/12.jpg" alt="img"> 
                   </span>
                    <div class="w-65">
                        <a  href="javascript:void(0);" class="fw-medium fs-16">Vinny<span class="text-muted fw-normal"> shared your post</span></a>
                        <span class="clearfix"></span>
                        <span class="text-muted fs-13 ms-auto d-inline-block"><i class="mdi mdi-clock text-muted me-1"></i>04 Jan 2021 1:56 Am</span>
                    </div>
                    <div class="ms-auto">
                        <div class="text-end">
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fe fe-more-horizontal p-1 text-muted"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i>View</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-plus-circle me-2"></i>Add</a></li>
                                <!-- <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i>Remove</a></li> -->
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-settings me-2"></i>More</a></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0);" class="header-cart-remove dropdown-item-close1"><i class="bi bi-trash3"></i></a>
                    </div>
                </div>
            </div>
            <div class="list-group-item  align-items-center border-start-0 border-end-0 border-top-0  border-bottom">
                <div class="d-flex">
                    <span class="avatar avatar-lg me-3 avatar-rounded">
                        <img src="../assets/images/users/8.jpg" alt="img"> 
                   </span>
                    <div class="w-65">
                        <a  href="javascript:void(0);" class="fw-medium fs-16">Anna<span class="text-muted fw-normal"> likes your post</span></a>
                        <span class="clearfix"></span>
                        <span class="text-muted fs-13 ms-auto d-inline-block"><i class="mdi mdi-clock text-muted me-1"></i>25 Dec 2020 11:25 Am</span>
                    </div>
                    <div class="ms-auto">
                        <div class="text-end">
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fe fe-more-horizontal p-1 text-muted"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i>View</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-plus-circle me-2"></i>Add</a></li>
                                <!-- <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i>Remove</a></li> -->
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-settings me-2"></i>More</a></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0);" class="header-cart-remove dropdown-item-close1"><i class="bi bi-trash3"></i></a>
                    </div>
                </div>
            </div>
            <div class="list-group-item  align-items-center border-start-0 border-end-0 border-top-0  border-bottom">
                <div class="d-flex">
                    <span class="avatar avatar-lg me-3 avatar-rounded">
                        <img src="../assets/images/users/14.jpg" alt="img"> 
                   </span>
                    <div class="w-65">
                        <a  href="javascript:void(0);" class="fw-medium fs-16">Kimberly<span class="text-muted fw-normal"> Completed one task</span></a>
                        <span class="clearfix"></span>
                        <span class="text-muted fs-13 ms-auto d-inline-block"><i class="mdi mdi-clock text-muted me-1"></i>24 Dec 2020 9:30 Pm</span>
                    </div>
                    <div class="ms-auto">
                        <div class="text-end">
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fe fe-more-horizontal p-1 text-muted"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i>View</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-plus-circle me-2"></i>Add</a></li>
                                <!-- <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i>Remove</a></li> -->
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-settings me-2"></i>More</a></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0);" class="header-cart-remove dropdown-item-close1"><i class="bi bi-trash3"></i></a>
                    </div>
                </div>
            </div>
            <div class="list-group-item  align-items-center border-start-0 border-end-0 border-top-0  border-bottom">
                <div class="d-flex">
                    <span class="avatar avatar-lg me-3 avatar-rounded">
                        <img src="../assets/images/users/3.jpg" alt="img"> 
                   </span>
                    <div class="w-65">
                        <a  href="javascript:void(0);" class="fw-medium fs-16">Rina<span class="text-muted fw-normal"> your account has Updated</span></a>
                        <span class="clearfix"></span>
                        <span class="text-muted fs-13 ms-auto d-inline-block"><i class="mdi mdi-clock text-muted me-1"></i>28 Nov 2020 7:16 Am</span>
                    </div>
                    <div class="ms-auto">
                        <div class="text-end">
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fe fe-more-horizontal p-1 text-muted"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i>View</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-plus-circle me-2"></i>Add</a></li>
                                <!-- <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i>Remove</a></li> -->
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-settings me-2"></i>More</a></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0);" class="header-cart-remove dropdown-item-close1"><i class="bi bi-trash3"></i></a>
                    </div>
                </div>
            </div>
            <div class="list-group-item  align-items-center border-start-0 border-end-0 border-top-0  border-bottom">
                <div class="d-flex">
                    <span class="avatar avatar-lg avatar-rounded me-3 bg-success-transparent">J</span>
                    <div class="w-65">
                        <a  href="javascript:void(0);" class="fw-medium fs-16">Julia<span class="text-muted fw-normal"> Prepare for Presentation</span></a>
                        <span class="clearfix"></span>
                        <span class="text-muted fs-13 ms-auto d-inline-block"><i class="mdi mdi-clock text-muted me-1"></i>18 Nov 2020 11:55 Am</span>
                    </div>
                    <div class="ms-auto">
                        <div class="text-end">
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fe fe-more-horizontal p-1 text-muted"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-eye me-2"></i>View</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-plus-circle me-2"></i>Add</a></li>
                                <!-- <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-trash-2 me-2"></i>Remove</a></li> -->
                                <li><a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-settings me-2"></i>More</a></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0);" class="header-cart-remove dropdown-item-close1"><i class="bi bi-trash3"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-3 empty-header-item1">
            <div class="d-grid">
                <a href="notifications-list.html" class="btn btn-primary">View All</a>
            </div>
        </div>
        <div class="p-5 empty-item1 d-none">
            <div class="text-center">
                <span class="avatar avatar-xl avatar-rounded bg-danger-transparent">
                    <i class="ri-notification-off-line fs-2"></i>
                </span>
                <h6 class="fw-medium mt-3">No New Notifications</h6>
            </div>
        </div>
    </div>
</div>
<!-- End Right-Sidebar -->

