<!-- Page Header -->
<div class="page-header d-xxl-flex d-block justify-content-xxl-between">
    <div class="page-leftheader">
        <div class="page-title">@SPK@title</div>
    </div>
    <div class="page-rightheader">
        <div class="btn-list">
            <button  class="btn btn-light3" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="fe fe-mail"></i> </button>
            <button  class="btn btn-light3" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="fe fe-phone-call"></i> </button>
            <button  class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="fe fe-info"></i> </button>
        </div>
    </div>
</div>
<!-- Page Header Close -->