// CTA Area 
.container
    .cta-text.dir-rtl.p-4.p-lg-5
        .row
            .col-9
                h5.text-white 20% discount on women's care items.
                a.btn.btn-primary(href="#") Grab this offer

        img(src="img/bg-img/make-up.png", alt="")