// PWA Install Alert 
.toast.pwa-install-alert.shadow.bg-white#installWrap(role="alert", aria-live="assertive", aria-atomic="true", data-bs-delay="5000", data-bs-autohide="true")
    .toast-body
        .content.d-flex.align-items-center.mb-2
            img(src="img/icons/icon-72x72.png", alt="")
            h6.mb-0 Welcome to Suha
            button.btn-close.ms-auto(type="button" data-bs-dismiss="toast" aria-label="Close")

        span.mb-2.d-block Click the
            strong.mx-1 Install Now
            | button &amp; enjoy it like a regular app.

        button.btn.btn-sm.btn-primary#installSuha Install Now