// Search Form
.container
    .search-form.pt-3.rtl-flex-d-row-r
        form(action="#" method="")
            input.form-control(type="search" placeholder="Search in Suha")
            button(type="submit")
                i.ti.ti-search
        
        // Alternative Search Options 
        .alternative-search-options
            .dropdown
                a.btn.btn-primary.dropdown-toggle#altSearchOption(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                    i.ti.ti-adjustments-horizontal
                
                // Dropdown Menu 
                ul.dropdown-menu.dropdown-menu-end(aria-labelledby="altSearchOption")
                    li
                        a.dropdown-item(href="#")
                            i.ti.ti-microphone 
                            | Voice
                    li
                        a.dropdown-item(href="#")
                            i.ti.ti-layout-collage 
                            | Image