.offcanvas.offcanvas-start.suha-offcanvas-wrap(tabindex="-1" id="suhaOffcanvas" aria-labelledby="suhaOffcanvasLabel")
    // Close button
    button.btn-close.btn-close-white(type="button" data-bs-dismiss="offcanvas" aria-label="Close")

    // Offcanvas body
    .offcanvas-body
        // Sidenav Profile
        .sidenav-profile
            .user-profile
                img(src="img/bg-img/9.jpg", alt="")
            .user-info
                h5.user-name.mb-1.text-white Suha Sarah
                p.available-balance.text-white Current Balance $
                    span.counter 99

        // Sidenav Nav
        ul.sidenav-nav.ps-0
            li
                a(href="profile.html")
                    i.ti.ti-user
                    | My Profile
            li
                a(href="notifications.html")
                    i.ti.ti-bell-ringing.lni-tada-effect
                    | Notifications
                    span.ms-1.badge.badge-warning 3

            li.suha-dropdown-menu
                a(href="#")
                    i.ti.ti-building-store
                    | Shop Pages
                ul
                    li
                        a(href="shop-grid.html") - Shop Grid
                    li
                        a(href="shop-list.html") - Shop List
                    li
                        a(href="single-product.html") - Product Details
                    li
                        a(href="featured-products.html") - Featured Products
                    li
                        a(href="flash-sale.html") - Flash Sale
            li
                a(href="pages.html")
                    i.ti.ti-notebook
                    | All Pages

            li.suha-dropdown-menu
                a(href="wishlist-grid.html")
                    i.ti.ti-heart
                    | My Wishlist
                ul
                    li
                        a(href="wishlist-grid.html") - Wishlist Grid
                    li
                        a(href="wishlist-list.html") - Wishlist List
            li
                a(href="settings.html")
                    i.ti.ti-adjustments-horizontal
                    | Settings
            li
                a(href="intro.html")
                    i.ti.ti-logout
                    | Sign Out